{#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}

<div class="container">
<div class="row justify-content-start">

    {% for roi in rois %}
        <div class="col-sm">

            <div class="card">
               <div class="card-header">{{ roi.id }}
  </div>
              <div class="card-body">
                <p class="card-text">
                    Color: {{ roi.color }} </br>
                    Creator: {{ roi.creator.username }} </br>
                    Representation: {{ roi.representation.name }}
                </p>
              </div>
            </div>
        </div>
    {% endfor %}

    {% if more %}
        <div class="col-sm">
            <div class="card">
              <div class="card-body">
                <p class="card-text">And {{  more }} more..</p>
              </div>
            </div>
        </div>
    {% endif %}
  <!-- Content here -->
</div>
</div>