django-oauth-toolkit
django-logpipe
django-polymorphic
django-registration-redux
django-autocomplete-light
drf-access-policy
channels>=2.0.2
channels_redis~=2.0
service_identity
graphene-django
graphene-django-extras
nibabel
SimpleITK

python-dateutil
tables
pandas-profiling
python-decouple
autodiscover
dask-image
tensorflow
scikit-learn
dask-ml[complete]