<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">

<!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css"/>
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>

</head>

    <body class="text-center">

		{% block content %}
		{% endblock %}


    <script src="{% static  "js/bootstrap.min.js" %}"></script>
    </body>
</html>
